<div class="container">

  <mat-form-field class="margin10">
    <input matInput placeholder="Transaction id" value="" #idTrans>
  </mat-form-field>
  <button mat-stroked-button class="margin10" color="primary" (click)="search(idTrans)">Search</button>
  <button mat-stroked-button class="margin10 floatRight" color="warn" (click)="unsubscribe()">Unsubscribe</button>
  <button mat-stroked-button class="margin10 floatRight" color="primary" (click)="subscribe()">Subscribe</button>
  <button mat-stroked-button class="margin10 floatRight" color="primary" (click)="getAll()">Get all</button>
  <div>Element insert: {{elementCount}}</div>
  <div>{{response | json}}</div>

</div>

<router-outlet></router-outlet>
